.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #e66700;
  color: #fff;
  position: fixed;
  top: 0;
  left: -175px;
  transition: left 0.3s ease;
  padding: 20px;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.sidebar-header {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

.hamburger {
  font-size: 24px;
  margin-left: auto;
  cursor: pointer;
  color: #fff; /* Set the color to white */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  display: block;
  padding: 10px;
  border-radius: 4px;
}

.sidebar ul li a:hover {
  color: #2d3e50;
  background-color: #fff;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    left: -100%;
  }

  .sidebar.open {
    left: 0;
  }
}
